<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender 설정: JSON 형식으로 로그를 출력 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- 로그 레벨 설정: INFO 레벨 이상 로그를 출력 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
